body {
  background-color: black;
  margin: 0;
}

.wrapper {
  height: auto; /** Auto will conform to contents */
  width: auto; /** Auto will conform to contents */

  display: flex; /** To enable Flexbox */
  flex-direction: row; /** Rows or column */
  flex-wrap: wrap; /** Enable responsive wrap */
  justify-content: space-evenly; /** Adds spacing between each item; Centers the contents at the main axis */
  align-items: center; /** Centers the contents at the secondary axis */

  background-color: gray; /** See the container more properly */
  padding-top: 60px;
}

img {
  width: inherit; /** Inherit the width from the item flexboxes */
  max-height: inherit;

  flex-grow: 1; /** Expands the image such that fills up the item flexbox */
  border: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: inherit; /** Inherits the color of the parent div */
}

.item {
  /** Each div is a flexbox, so we can align the images inside of it */
  flex-grow: 1; /** Expands each of the nine flexbox so that it fills the empty space */
  display: flex;
  justify-content: center;
  align-items: center;

  width: 350px;
  max-height: 600px;
  margin: 10px; /** Margin is outside, while Padding is inside */
  background-color: cornflowerblue;
}

.one {
  border-color: royalblue;
}

.three {
  border-color: purple;
}

header {
  background-color: chocolate;
  text-align: center;
  position: fixed; /** Moves when scrolling */
  width: 100%;
  z-index: 999;
}

#navbar {
  position: absolute; /** Navbar position is relative to the header tag */
  top: 100%; /** 100% = Puts the top of navbar immediately to the bottom of the header, 0% Puts the top to the top of header*/
  left: 0;
  text-align: left;
  background-color: inherit;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

/** Selecting nested DOM elements */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/** When the text is hover, it will change color else color is reverted to default */
nav a:hover {
  color: aqua;
}

/** When the input is checked, it will look for a <nav> sibling and set its display to 'show' else its display is hidden */
#nav-check:checked ~ nav {
  display: block;
  transform: scale(1, 1);
}

#nav-check {
  display: none;
}

#nav-check-label {
  position: absolute; /** Use position absolute to place it using top, bot, left, right */
  top: 0;
  left: 0;
  margin-left: 1em;
  border: 0px solid red;
  display: flex; /** Used to center the X */
  align-items: center; /** Centers the X */
  height: 100%;
}

#nav-check-label span,
#nav-check-label span::before,
#nav-check-label span::after {
  display: block;
  background: wheat;
  height: 2px;
  width: 2em;
  border-radius: 2px;
}

#nav-check-label span::before,
#nav-check-label span::after {
  content: '';
  position: absolute;
}

#nav-check-label span::before {
  bottom: 10px;
}

#nav-check-label span::after {
  top: 10px;
}
